<body>

    <div class="Forms">
        <h1>Inicio</h1>

        <mat-form-field>
            <input type="text" matInput placeholder="Usuario">
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Contraseña">
        </mat-form-field>

        

        <a href="/inicio" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">Iniciar Sesión</a>

        <div class="recuperarContraseña">
            <a href="./contrasenia.html">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="registrar">
            <a href="/register">¿No tienes cuenta? Registrate</a>
        </div>

    </div>

    

</body>




        

