<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/inicio">
            <i class="material-icons" height="50px" width="50px">flight_land</i>
            Vuelos
        </a>
        <div class="buttons">
            <a href="/iniciar" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">Inicia <br>
                Sesión</a>
            <a href="/registro" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Registrate</a>
        </div>
    </div>

</nav>


<div class="body">
    <div class="filtro">
        <h1> Filtros</h1>
        <h2> Precios</h2>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                < - $1.000.000 </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                $1.000.000 - $2.000.000
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                $2.000.000 - >
            </label>
        </div>
        <h2> Destino</h2>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Bogotá D.C
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Medellín
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Bucaramanga
            </label>
        </div>
    </div>
    <div class="contenedores">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vuelo a Meta</h5>
                <p class="card-text">Incluye vuelo a destino y vuelo de regreso por valor $400000</p>
                <a href="/agendar" class="btn btn-primary">Agendar</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vuelo a Medellin</h5>
                <p class="card-text">Incluye vuelo a destino y vuelo de regreso por valor $400000</p>
                <a href="/agendar" class="btn btn-primary">Agendar</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vuelo a Barranquilla</h5>
                <p class="card-text">Incluye vuelo a destino y vuelo de regreso por valor $400000</p>
                <a href="/agendar" class="btn btn-primary">Agendar</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vuelo a Manizales</h5>
                <p class="card-text">Incluye vuelo a destino y vuelo de regreso por valor $400000</p>
                <a href="/agendar" class="btn btn-primary">Agendar</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vuelo a Bucaramanga</h5>
                <p class="card-text">Incluye vuelo a destino y vuelo de regreso por valor $400000</p>
                <a href="/agendar" class="btn btn-primary">Agendar</a>
            </div>
        </div>
    </div>

    <br>


