<body>
    
  <div class="Forms">
      <h1>Registro</h1>


      <mat-form-field>
          <input type="text" matInput placeholder="Nombre completo: ">
      </mat-form-field>

      <mat-form-field>
      <mat-label>Tipo de documento</mat-label>
      <mat-select>
          <mat-option>CC</mat-option>
          <mat-option>CE</mat-option>
          <mat-option>NIT</mat-option>
      </mat-select>
      </mat-form-field>

      <mat-form-field>
          <input type="text" matInput placeholder="Número de documento: ">
      </mat-form-field>

      <mat-form-field>
          <input type="email" matInput placeholder="E-mail: ">
      </mat-form-field>

      <mat-form-field>
          <input type="number" matInput placeholder="Celular: ">
      </mat-form-field>

      <mat-form-field>
          <input type="password" matInput placeholder="Password: " matInput >
      </mat-form-field>

      

      <a href="/iniciar" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">Registrar</a>

      <div class="registrar">
        <a href="/iniciar">¿Ya tienes cuenta? Inicia sesión</a>
      </div>
      


      
  </div>
</body>